@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
}
body .notre_mission_image {
  background-image: url("https://cdn.shopify.com/s/files/1/0069/0549/5636/files/SLIDERS_SHOPIFY_2022.jpg?v=1644499259");
}
body .le_bon_produit_image {
  background-image: url("https://cdn.shopify.com/s/files/1/0069/0549/5636/files/69.jpg?v=1644499259");
}
body .le_bon_produit_image_2 {
  background-image: url("https://cdn.shopify.com/s/files/1/0069/0549/5636/files/70.jpg?v=1644499259");
}
body .le_bon_produit_image_3 {
  background-image: url("https://cdn.shopify.com/s/files/1/0069/0549/5636/files/71.jpg?v=1644499259");
}
body .impact_positif_image {
  background-image: url("https://cdn.shopify.com/s/files/1/0069/0549/5636/files/72.jpg?v=1644499259");
}
body .upcycling_image {
  background-image: url("https://cdn.shopify.com/s/files/1/0069/0549/5636/files/Nouveaute.jpg?v=1644499259");
}
body .vegan_image {
  background-image: url("https://cdn.shopify.com/s/files/1/0069/0549/5636/files/74.jpg?v=1644499259");
}
body .impact_positif_image_2 {
  background-image: url("https://cdn.shopify.com/s/files/1/0069/0549/5636/files/75.jpg?v=1644499259");
}
body .impact_positif_image_3 {
  background-image: url("https://cdn.shopify.com/s/files/1/0069/0549/5636/files/76.jpg?v=1644499259");
}
body .impact_positif_image_4 {
  background-image: url("https://cdn.shopify.com/s/files/1/0069/0549/5636/files/78.jpg?v=1644499259");
}
body .impact_positif_image_5 {
  background-image: url("https://cdn.shopify.com/s/files/1/0069/0549/5636/files/77.jpg?v=1644499260");
}
body .distribution_besoin_image {
  background-image: url("https://cdn.shopify.com/s/files/1/0069/0549/5636/files/79.jpg?v=1644499259");
}
body .distribution_besoin_image_2 {
  background-image: url("https://cdn.shopify.com/s/files/1/0069/0549/5636/files/80.jpg?v=1644499262");
}
body .soutenir_association_image {
  background-image: url("https://cdn.shopify.com/s/files/1/0069/0549/5636/files/81.jpg?v=1644499260");
}
body main {
  padding: 20px;
}
body h1 {
  text-shadow: 1px 1px 1px #6382a1;
  color: #003B71;
  font-size: 3em;
}
body h2 {
  font-size: 2em;
}
body h2 .co2 {
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
}
body h3 {
  font-size: 1em;
  color: #003B71;
  font-size: 2em;
}
body p {
  font-size: 1.5em;
}
body span {
  color: #003B71;
}
body .container_image {
  width: 20%;
  height: auto;
}
body .container_image .produit_image {
  width: 100%;
  height: 23em;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

#mission .notre_mission_2 {
  text-align: center;
}

.notre_mission .notre_image {
  width: 100%;
  height: 28em;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.notre_mission_3 {
  display: inline-flex;
  width: 100%;
  height: auto;
  align-items: center;
  padding: 0 0 20px 0;
}
.notre_mission_3 .container_image {
  padding: 0 10em 0 0;
}
.notre_mission_3 .produit_parent {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.notre_mission_3 .produit_parent .produit_texte {
  text-align: justify;
  -moz-text-align-last: start;
  text-align-last: start;
}

.notre_mission_4 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 20px 0;
}
.notre_mission_4 .produit_parent_2 {
  width: 78%;
  -moz-text-align-last: start;
  text-align-last: start;
}
.notre_mission_4 .produit_parent_2 p {
  border: 2px solid;
  padding: 4.4em;
  text-align: justify;
  border-radius: 5px;
}

.notre_mission_5 {
  display: flex;
  width: 100%;
  height: auto;
  padding: 0 0 20px 0;
  text-align: justify;
  justify-content: space-between;
  align-items: center;
}
.notre_mission_5 .poly {
  width: 35%;
  background-color: #679bfd;
  border-radius: 5px;
  padding: 2em;
  align-self: stretch;
}
.notre_mission_5 .innovant {
  width: 35%;
  border: 2px solid;
  border-radius: 5px;
  padding: 2em;
  align-self: stretch;
}

.impact_container {
  display: flex;
  width: 100%;
  height: auto;
  padding: 0 0 20px 0;
  text-align: justify;
}
.impact_container .container_image {
  padding: 0 10em 0 0;
}
.impact_container .container_text_positif {
  width: 60%;
  -moz-text-align-last: start;
  text-align-last: start;
  align-self: center;
}

.upcycling_h2 {
  text-align: center;
}

.upcycling_parent {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  text-align: justify;
  padding: 0 0 20px 0;
}
.upcycling_parent .upcycling_text {
  width: 45%;
  background-color: #679bfd;
  border-radius: 5px;
  align-self: stretch;
  padding: 2em;
}
.upcycling_parent .upcycling_text_2 {
  width: 20%;
  border: 2px solid;
  border-radius: 5px;
  align-self: stretch;
  padding: 2em;
}

.vegan_parent {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 20px 0;
}
.vegan_parent .vegan_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 78%;
  border: 2px solid;
  border-radius: 5px;
  align-self: stretch;
  text-align: justify;
}
.vegan_parent .vegan_text h3 {
  padding: 0 0 0 2em;
}
.vegan_parent .vegan_text p {
  padding: 0 2em 0 2em;
}

.objectif_parent {
  display: flex;
  width: 100%;
  text-align: justify;
  justify-content: space-between;
  padding: 0 0 20px 0;
}
.objectif_parent .objectif {
  width: 35%;
  padding: 2em;
  border-radius: 5px;
}
.objectif_parent .objectif.objectif_background {
  background-color: #679bfd;
}
.objectif_parent .objectif.objectif_border {
  border: 2px solid;
}

.reflexe_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 0 20px 0;
}
.reflexe_container .reflexe_parent {
  width: 60%;
  border: 2px solid;
  text-align: justify;
  padding: 3.5em 2.1em 3.5em 2.1em;
  border-radius: 5px;
}

.recycle_parent {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 0 20px 0;
  text-align: justify;
}
.recycle_parent .recycle_text {
  width: 50%;
  background-color: #679bfd;
  padding: 6em 2em 2em 2em;
  border-radius: 5px;
}

.besoin {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 0 20px 0;
  text-align: end;
  align-items: center;
}
.besoin .besoin_text_container {
  width: 45%;
}

.besoin_2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 0 20px 0;
}
.besoin_2 .circulaire_text {
  width: 60%;
  border: 2px solid;
  padding: 20px;
  border-radius: 5px;
}

.soutenir_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.soutenir_container .soutenir_text_container {
  width: 30%;
}
.soutenir_container .soutenir_text_container.soutenir_text {
  background-color: #679bfd;
  border-radius: 5px;
  padding: 4em 2em 1em 2em;
}
.soutenir_container .soutenir_text_container.soutenir_text_2 {
  border: 2px solid;
  border-radius: 5px;
  align-self: stretch;
  padding: 6em 2em 1em 2em;
}

@media (max-width: 1620px) {
  .produit_image {
    background-position: -3em 0px;
  }

  .notre_mission_5 .container_image_3 .produit_image_2 {
    background-position: 0px -12em;
  }

  .vegan_parent .parent_vegan_image .vegan_image {
    background-position: 0px -9em;
  }

  .reflexe_container .impact_image_3_parent .impact_positif_image_3 {
    background-position: 0px -20em;
  }

  .besoin .besoin_image_container .distribution_besoin_image {
    background-position: center;
  }

  .soutenir_container .association_image_container .soutenir_association_image {
    background-position: center;
  }
}
@media (max-width: 1440px) {
  .produit_image {
    background-position: -6em 0px;
  }

  .notre_mission_5 .container_image_3 .produit_image_2 {
    background-position: 0px -10em;
  }

  .vegan_parent .parent_vegan_image .vegan_image {
    background-position: center;
  }

  .reflexe_container .impact_image_3_parent .impact_positif_image_3 {
    background-position: 0px -17em;
  }

  .recycle_parent .impact_image_parent .impact_positif_image_4 {
    background-position: 0px -5em;
  }
}
@media (max-width: 1024px) {
  .notre_mission .notre_image {
    background-position: -50em 0px;
  }
  .notre_mission .top-left {
    top: 5em;
    left: 3em;
  }
  .notre_mission .top-right {
    top: 2.5em;
    right: 3em;
  }

  .notre_mission_3 {
    display: flex;
    flex-direction: column;
  }
  .notre_mission_3 .produit_image {
    background-position: 0px 0px;
    width: 100%;
    height: 35em;
  }
  .notre_mission_3 .produit_parent {
    width: 100%;
    justify-content: flex-start;
  }
  .notre_mission_3 .produit_parent .produit_texte {
    -moz-text-align-last: start;
    text-align-last: start;
  }

  .notre_mission_4 {
    display: flex;
    flex-direction: column-reverse;
  }
  .notre_mission_4 .container_image_2 {
    width: 100%;
  }
  .notre_mission_4 .container_image_2 .produit_image {
    background-position: 0px -4em;
    height: 35em;
  }
  .notre_mission_4 .produit_parent_2 {
    width: 100%;
  }
  .notre_mission_4 .produit_parent_2 h2 {
    padding: 20px 0 0 0;
  }
  .notre_mission_4 .produit_parent_2 p {
    padding: 0;
  }

  .notre_mission_5 {
    flex-direction: column;
  }
  .notre_mission_5 .container_image_3 {
    width: 100%;
  }
  .notre_mission_5 .container_image_3 .produit_image_2 {
    height: 35em;
    background-position: 0px -25em;
  }
  .notre_mission_5 .poly {
    width: 100%;
    margin: 20px 0 20px 0;
    padding: 0;
  }
  .notre_mission_5 .innovant {
    width: 100%;
    padding: 0;
  }

  .impact_container {
    flex-direction: column;
    align-items: center;
  }
  .impact_container .container_image_positif {
    width: 100%;
  }
  .impact_container .container_image_positif .produit_image {
    width: 100%;
    height: 35em;
  }
  .impact_container .container_text_positif {
    width: 100%;
    -moz-text-align-last: start;
    text-align-last: start;
    padding: 20px 0 0 0;
  }

  .upcycling_parent {
    align-items: center;
    flex-direction: column-reverse;
  }
  .upcycling_parent .upcycling_image_container {
    width: 100%;
  }
  .upcycling_parent .upcycling_image_container .upcycling_image {
    height: 35em;
    background-position: 0px -5em;
  }
  .upcycling_parent .upcycling_text_2 {
    width: 100%;
    padding: 0;
    margin: 20px 0 20px 0;
  }
  .upcycling_parent .upcycling_text {
    width: 100%;
    padding: 0;
  }

  .vegan_parent {
    flex-direction: column-reverse;
  }
  .vegan_parent .parent_vegan_image {
    width: 100%;
  }
  .vegan_parent .parent_vegan_image .vegan_image {
    height: 35em;
    background-position: 0px -20em;
  }
  .vegan_parent .vegan_text {
    width: 100%;
    padding: 0;
    margin: 20px 0 0 0;
  }

  .objectif_parent {
    flex-direction: column;
    align-items: center;
  }
  .objectif_parent .impact_positif_image_parent {
    width: 100%;
  }
  .objectif_parent .impact_positif_image_parent .impact_positif_image_2 {
    height: 35em;
  }
  .objectif_parent .objectif {
    width: 100%;
  }
  .objectif_parent .objectif.objectif_background {
    padding: 0;
    margin: 20px 0 20px 0;
  }
  .objectif_parent .objectif.objectif_border {
    padding: 0;
  }

  .reflexe_container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .reflexe_container .impact_image_3_parent {
    width: 100%;
  }
  .reflexe_container .impact_image_3_parent .impact_positif_image_3 {
    background-position: 0px -43em;
    height: 35em;
  }
  .reflexe_container .reflexe_parent {
    width: 100%;
    padding: 0;
    margin: 20px 0 20px 0;
  }

  .recycle_parent {
    flex-direction: column;
    align-items: center;
  }
  .recycle_parent .impact_image_parent {
    width: 100%;
  }
  .recycle_parent .impact_image_parent .impact_positif_image_4 {
    height: 35em;
    background-position: 0px -20em;
  }
  .recycle_parent .impact_image_parent .impact_positif_image_5 {
    height: 35em;
  }
  .recycle_parent .recycle_text {
    width: 100%;
    padding: 0;
    margin: 20px 0 20px 0;
  }

  .besoin {
    flex-direction: column;
  }
  .besoin .besoin_image_container {
    width: 100%;
  }
  .besoin .besoin_image_container .distribution_besoin_image {
    height: 35em;
    background-position: 0px -4em;
  }
  .besoin .besoin_text_container {
    width: 100%;
    text-align: start;
    padding: 20px 0 0 0;
  }
  .besoin .besoin_text_container h1 {
    -webkit-margin-after: 0;
    margin-block-end: 0;
  }

  .besoin_2 {
    flex-direction: column-reverse;
    align-items: center;
  }
  .besoin_2 .besoin_image_container_2 {
    width: 100%;
  }
  .besoin_2 .besoin_image_container_2 .distribution_besoin_image_2 {
    height: 35em;
  }
  .besoin_2 .circulaire_text {
    width: 100%;
    padding: 0;
    margin: 20px 0 0 0;
  }

  .soutenir_container {
    flex-direction: column;
    align-items: center;
  }
  .soutenir_container .association_image_container {
    width: 100%;
  }
  .soutenir_container .association_image_container .soutenir_association_image {
    height: 35em;
  }
  .soutenir_container .soutenir_text_container {
    width: 100%;
  }
  .soutenir_container .soutenir_text_container.soutenir_text {
    padding: 0;
    margin: 20px 0 20px 0;
  }
  .soutenir_container .soutenir_text_container {
    width: 100%;
  }
  .soutenir_container .soutenir_text_container.soutenir_text_2 {
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */
